$cl-hover: #cbb8c9;
html, body{
  height: 100%;
}
* {
  box-sizing: border-box;
}
:focus{
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
.wrapper{
  font-family: 'Philosopher', sans-serif;
  font-size: 0;
  line-height: 1.5;
  min-height: 100%;
  display: flex;
}
.container-items{
  width: 100%;
  .container-items_wrap {
    display: flex;
    height: calc(100% / 3);
  }
  background: #f3efef;
  padding: 30px;
  .item {
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
    width: 25%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-default {
    background: #bdafc2;
  }
  .item-logo{
    color: #f3efef;
    background: #bdafc2;
    img{
      max-width: 150px;
    }
  }
  .item-pattern {
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    background-image: url("../images/232792.jpg");
  }
  .item-aboutme, .item-socials {
    background: #b884af;
  }
  .item-green {
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
    color: #69755a;
    background: #bcc78e;
    p {
      width: 70%;
    }
  }
  .item-contact {
    background: #a9b59a;
    color: #3f4735;
  }
  .item-aboutme, .item-logo, .item-works, .item-contact {
    cursor: pointer;
  }
  .item-works {
    background: #7b5774;
    color: #cbb8c9;
  }
  .upnleft{
    align-items: flex-end;
    justify-content: flex-start;
  }
  .downnright{
    align-items: flex-start;;
    justify-content: flex-end;
    text-align: right;
  }
  .item-socials{
    &:after{
      background-color: #62385b;
    }
  }
    .item-socials{
    &:before{
      background-color: #62385b;
    }
  }
  .item-aboutme{
    &:after{
    background-color: $cl-hover;
    }
  }
    .item-aboutme{
    &:before{
    background-color: $cl-hover;
    }
  }
  .item-aboutme, .item-socials{
    text-align: center;
    flex-direction: column;
    color: #62385b;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
      -webkit-transition: all 0.8s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transition: all 0.8s ease-in-out 0s;
      transform: scaleX(0);
    }
    &:hover:after{
      -webkit-transform: scaleX(2);
      transform: scaleX(2);
    }
    &:before{
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      top: 0;
      -webkit-transition: all 0.8s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transition: all 0.8s ease-in-out 0s;
      transform: scaleX(0);
    }
    &:hover:before {
      -webkit-transform: scaleX(2);
      transform: scaleX(2);
    }
    .icon-heart {
      transition: 0.8s;
      margin-bottom: 20px;
      font-size: 60px;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      .icon-heart {
        color: $cl-hover;
        -webkit-animation: enlarge 0.6s infinite;
        animation: enlarge 1s infinite;
      }
    }
    .social-link a{
      transition: 0.8s;
      align-items: center;
      display: flex;
      justify-content: center;
      color: #f3efef;
      margin: 0 5px;
      background: #62385b;
      width: 1em;
      height: 1em;
      font-size: 55px;
      border-radius: 50%;
      span {
        font-size: 0.5em;
      }
    }
    &:hover {
      .social-link a{
        background: #f3efef;
        color: #62385b;
      }
    }
  }
}
@keyframes enlarge
{
  0% {font-size: 40px}
  50% {font-size: 60px}
  100% {font-size: 80px}
}

.item-socials {
  p{
    margin-bottom: 35px;
  }
  .social-list {
    display: flex;
  }
}
.navbar-toggler {
  outline: none;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  z-index: 1;
  border: none;
  background: #f3efef;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  padding: 5px;
  .wrap-navbar{
    transform: rotate(-45deg);
    padding-top: 25px;
  }
  span {
    display: block;
    background: #bdafc2;
    height: 3px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*max-width: 991px*/
@media (max-width: 991px){
  .container-items {
    .container-items_wrap {
    }
    .item {
      width: 33.3%;
    }
    .item-default {
      display: none;
    }
    .item-socials {
      background: #bdafc2;
    }
  }
}
/*max-width: 768px*/
@media (max-width: 768px) {
  .container-items {
    padding: 10px;
    .container-items_wrap {
    }
    .item {
      width: 50%;
    }
    .item-logo, .item-pattern{
      display: none;
    }
    .navbar-toggler {
      top: -20px;
    }
  }
}
/*max-width: 480px*/
@media (max-width: 480px) {
  .container-items {
    .container-items_wrap {
      display: block;
      .item {
        width: 100%;
      }
      .item-logo, .item-pattern {
        display: flex;
      }
      .item-contact {
        background: #a9b59a;
        color: #3f4735;
      }
      .upnleft, .downnright{
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
