html, body {
  height: 100%; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  transition: 0.3s; }

.wrapper {
  font-family: 'Philosopher', sans-serif;
  font-size: 0;
  line-height: 1.5;
  min-height: 100%;
  display: flex; }

.container-items {
  width: 100%;
  background: #f3efef;
  padding: 20px; }
  .container-items .container-items_wrap {
    display: flex;
    height: calc(100% / 3); }
  .container-items .item {
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
    width: 25%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .container-items .item-default {
    background: #bdafc2; }
  .container-items .item-logo {
    color: #f3efef;
    background: #bdafc2; }
    .container-items .item-logo span {
      font-size: 150px; }
  .container-items .item-pattern {
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    background-image: url("../images/232792.jpg"); }
  .container-items .item-aboutme, .container-items .item-socials {
    background: #b884af; }
  .container-items .item-green {
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
    color: #69755a;
    background: #bcc78e; }
    .container-items .item-green p {
      width: 70%; }
  .container-items .item-contact {
    background: #a9b59a;
    color: #3f4735; }
  .container-items .item-aboutme, .container-items .item-logo, .container-items .item-works, .container-items .item-contact {
    cursor: pointer; }
  .container-items .item-works {
    background: #7b5774;
    color: #cbb8c9; }
  .container-items .upnleft {
    align-items: flex-start;
    justify-content: flex-start; }
  .container-items .downnright {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right; }
  .container-items .item-socials:after {
    background-color: #62385b; }
  .container-items .item-socials:before {
    background-color: #62385b; }
  .container-items .item-aboutme:after {
    background-color: #cbb8c9; }
  .container-items .item-aboutme:before {
    background-color: #cbb8c9; }
  .container-items .item-aboutme, .container-items .item-socials {
    text-align: center;
    flex-direction: column;
    color: #62385b;
    position: relative; }
    .container-items .item-aboutme:after, .container-items .item-socials:after {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
      -webkit-transition: all 0.8s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transition: all 0.8s ease-in-out 0s;
      transform: scaleX(0); }
    .container-items .item-aboutme:hover:after, .container-items .item-socials:hover:after {
      -webkit-transform: scaleX(2);
      transform: scaleX(2); }
    .container-items .item-aboutme:before, .container-items .item-socials:before {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      top: 0;
      -webkit-transition: all 0.8s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transition: all 0.8s ease-in-out 0s;
      transform: scaleX(0); }
    .container-items .item-aboutme:hover:before, .container-items .item-socials:hover:before {
      -webkit-transform: scaleX(2);
      transform: scaleX(2); }
    .container-items .item-aboutme .icon-heart, .container-items .item-socials .icon-heart {
      transition: 0.8s;
      margin-bottom: 20px;
      font-size: 60px;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .container-items .item-aboutme:hover .icon-heart, .container-items .item-socials:hover .icon-heart {
      color: #cbb8c9;
      -webkit-animation: enlarge 0.6s infinite;
      animation: enlarge 1s infinite; }
    .container-items .item-aboutme .social-link a, .container-items .item-socials .social-link a {
      transition: 0.8s;
      align-items: center;
      display: flex;
      justify-content: center;
      color: #f3efef;
      margin: 0 5px;
      background: #62385b;
      width: 1em;
      height: 1em;
      font-size: 55px;
      border-radius: 50%; }
      .container-items .item-aboutme .social-link a span, .container-items .item-socials .social-link a span {
        font-size: 0.5em; }
    .container-items .item-aboutme:hover .social-link a, .container-items .item-socials:hover .social-link a {
      background: #f3efef;
      color: #62385b; }

@keyframes enlarge {
  0% {
    font-size: 40px; }
  50% {
    font-size: 60px; }
  100% {
    font-size: 80px; } }
.container {
  background: #f3efef;
  padding: 20px; }

.item-socials p {
  margin-bottom: 35px; }
.item-socials .social-list {
  display: flex; }

.navbar-toggler {
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -25px;
  z-index: 1;
  border: none;
  background: #f3efef;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  padding: 5px; }
  .navbar-toggler .wrap-navbar {
    transform: rotate(-45deg);
    padding-top: 25px; }
  .navbar-toggler span {
    display: block;
    background: #bdafc2;
    height: 3px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3px; }
    .navbar-toggler span:last-child {
      margin-bottom: 0; }

/*max-width: 768px*/
@media (max-width: 991px) {
  .container-items .item {
    width: 33.3%; }
  .container-items .item-default {
    display: none; }
  .container-items .item-socials {
    background: #bdafc2; } }
/*max-width: 768px*/
@media (max-width: 768px) {
  .container-items .item {
    width: 50%; }
  .container-items .item-logo, .container-items .item-pattern {
    display: none; }
  .container-items .item-contact {
    background: #b884af;
    color: #62385b; } }
/*max-width: 480px*/
@media (max-width: 480px) {
  .container-items .container-items_wrap {
    display: block; }
    .container-items .container-items_wrap .item {
      width: 100%; }
    .container-items .container-items_wrap .item-logo, .container-items .container-items_wrap .item-pattern {
      display: flex; }
    .container-items .container-items_wrap .item-contact {
      background: #a9b59a;
      color: #3f4735; }
    .container-items .container-items_wrap .upnleft, .container-items .container-items_wrap .downnright {
      align-items: center;
      justify-content: center; } }

/*# sourceMappingURL=style.css.map */
