$cl-hover: #cbb8c9;
$cl1: #c0a4cb;;
$cl2: #f6ecf5;
$cl3: #c572b6;
$cl4: #62385b;
$cl5: #69755a;
$cl6: #3f4735;
$cl7: #99b17a;
$cl8: #d2e193;

* {
  box-sizing: border-box;
}
:focus{
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
.wrapper{
  font-family: 'Philosopher', sans-serif;
  font-size: 0;
  line-height: 1.5;
  display: flex;
}
.container{
  width: 100%;
  .container-items{
    display: flex;
    height: calc(100% / 3);
  }
  background: $cl2;
  padding: 30px;
  .item {
    height: calc(100vh / 3 - 20px);
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-default {
    background: $cl1;
  }
  .item-logo, .item-contact, .item-aboutme,
  .item-works, .navbar-toggler{
    -webkit-tap-highlight-color: transparent;
  }
  .item-logo{
    color: $cl2;
    background: $cl1;
    img{
      max-width: 120px;
    }
  }
  .item-pattern {
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    background-image: url("../images/232792.jpg");
  }
  .item-aboutme, .item-socials {
    background: $cl3;
  }
  .item-green {
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
    color: $cl5;
    background: $cl8;
    p {
      width: 70%;
    }
  }
  .item-contact {
    p{
      position: relative;
    }
    &:hover .icon-plane{
      transform: rotate(360deg);
      opacity: 0.3;
    }
    .icon-plane{
      position: absolute;
      top: 50px;
      width: 50px;
      left: 50%;
      margin-left: -25px;
      transition: all 0.2s linear;
    }
    flex-direction: column;
    background: $cl7;
    color: $cl6;
  }
  .item-aboutme, .item-logo, .item-works, .item-contact {
    cursor: pointer;
  }
  .item-works {
    p{
      position: relative;
    }
    background: $cl4;
    color: $cl2;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    &:hover .icon-mouse{
      animation: move 1.8s 1;
      -webkit-animation: move 1.8s 1;
    }
    &:hover .lines{
      animation: grow 1.4s 1;
      -webkit-animation: grow 1.4s 1;
    }
    .lines{
      width: 26px;
      position: absolute;
      bottom: 35px;
      height: 0;
      left: 50%;
      margin-left: -13px;
    }
    .icon-mouse{
      width: 50px;
      top: 50px;
      position: absolute;
    }
  }
  .upnleft{
    align-items: flex-end;
    justify-content: flex-start;
  }
  .downnright{
    align-items: flex-start;;
    justify-content: flex-end;
    text-align: right;
  }
  .item-socials{
    &:after{
      background-color: $cl4;
    }
  }
  .item-socials{
    &:before{
      background-color: $cl4;
    }
  }
  .item-aboutme{
    &:after{
      background-color: $cl-hover;
    }
  }
  .item-aboutme{
    &:before{
      background-color: $cl-hover;
    }
  }
  .item-aboutme, .item-socials{
    text-align: center;
    flex-direction: column;
    color: $cl4;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
      -webkit-transition: all 0.6s ease-in-out;
      -webkit-transform: scaleX(0);
      transition: all 0.6s ease-in-out;
      transform: scaleX(0);
    }
    &:hover:after{
      -webkit-transform: scaleX(2);
      transform: scaleX(2);
    }
    &:before{
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      top: 0;
      -webkit-transition: all 0.6s ease-in-out;
      -webkit-transform: scaleX(0);
      transition: all 0.6s ease-in-out ;
      transform: scaleX(0);
    }
    &:hover:before {
      -webkit-transform: scaleX(2);
      transform: scaleX(2);
    }
    .icon-heart {
      margin-bottom: 20px;
      transition: 0.4s;
      font-size: 60px;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      .icon-heart {
        color: $cl-hover;
        -webkit-animation: aboutme 0.4s infinite;
        animation: aboutme 0.4s infinite;
      }
    }
    .social-link a{
      transition: 0.4s;
      align-items: center;
      display: flex;
      justify-content: center;
      color: $cl2;
      margin: 0 5px;
      background: $cl4;
      width: 1em;
      height: 1em;
      font-size: 55px;
      border-radius: 50%;
      span {
        font-size: 0.5em;

      }
    }
    &:hover {
      .social-link a{
        background: $cl2;
        color: $cl4;
      }
    }
  }
}
.social-list{
  &:hover{
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes move{
  0% {top: 80px;}
  100% {top: -500px;}
}
@keyframes grow{
  0% {height: 0}
  100% {height: 300px;}
}

@keyframes aboutme
{
  0% {font-size: 50px}
  50% {font-size: 70px;
    color: #c4a8cb
  }
  100% {font-size: 60px
  }
}
@keyframes plane{

}
.item-socials {
  p{
    margin-bottom: 35px;
  }
  .social-list {
    display: flex;
  }
}
.navbar-toggler {
  outline: none;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  z-index: 2;
  border: none;
  background: $cl2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  padding: 5px;
  .wrap-navbar{
    transform: rotate(-45deg);
    padding-top: 25px;
  }
  span {
    display: block;
    background: $cl1;
    height: 3px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.menu{
  display: none;
  position: absolute;
  left: calc(50% - 18vw);
  width: 36vw;
  z-index: 1;
  background: rgba(246, 236, 245, 0.89);
  text-align: center;
  bottom: 0;
  top: 30px;
  ul{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  li{
    padding: 35px 0;
    transition: 0.3s;
    &:hover{
      background: $cl2;
    }
  }
  a{
    font-size: 25px;
    color: #7c5375;
    font-weight: bold;
  }
}
.menu-active {
span{
  &:first-child{
    transform: rotate(45deg);
    position: absolute;
    bottom: -12px;
    left: 3px;
  }
  &:last-child{
    transform: rotate(-45deg);
    position: absolute;
    bottom: -9px;
    left: 4px;
  }
  &:nth-child(2){
    display: none;
  }
}
}
.container-description{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  .item-light, .item-dark{
    width: 50%;
    height: calc(100vh - 60px);
  }
  .item-dark{
    background: $cl1;
  }
  .item-light{
    background: #d9c5df;
  }
}
.container-contact{
  background-color: #f2f4ed;
  .navbar-toggler{
    background: #f2f4ed;
    span{
      background: #b6c1a8;
    }
  }
  .menu{
    background: rgba(242, 244, 237, 0.89);
    li{
      &:hover{
        background-color: #dee9d0;;
      }
    }
    a{
    color: $cl6;
  }
  }
  .item-dark{
    background: $cl7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-light{
    background: #e1eaba;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}




/*max-width: 991px*/
@media (max-width: 991px){
  .container {
    .container-items {
    }
    .item {
      width: 33.3%;
    }
    .item-default {
      display: none;
    }
    .item-socials {
      background: $cl1;
    }
  }
}
/*max-width: 768px*/
@media (max-width: 768px) {
  .container {
    padding: 10px;
    .container-items {
    }
    .item {
      width: 50%;
      height: calc(100vh / 3 - 6.5px);
      min-height: 300px;
    }
    .item-logo, .item-pattern{
      display: none;
    }
    .navbar-toggler {
      top: -20px;
    }
  }
  .menu{
    top: 10px;
    left: 0;
    width: 100%;
    bottom: -300px;
    ul{
      position: static;
      transform: none;
      padding-top: 50px;
    }
  }
}
/*max-width: 480px*/
@media (max-width: 480px) {
  .container {
    .item-light, .item-dark{
      width: 100%;
      height: calc(100vh - 30px);
    }
    .container-items {
      display: block;
      .item {
        width: 100%;
      }
      .item-logo, .item-pattern {
        display: flex;
      }
      .item-contact {
        background: $cl7;
        color: $cl6;
      }
      .upnleft, .downnright{
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }

  }

}
